html {
    font-family: 'AvenirNextCondensed-DemiBold';
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#map-canvas{
    width=100px;
    height=100px;
}

#select-box{
	width: 100%;
}

.styled-select select {
   background: 'white';
   border: none;
   font-size: 14px;
   height: 50px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {}

#stats_table{
  font-size: 18pt;
}

.stats_row{
  background-color: red;
}

.even{
  background-color: white;
}

.odd{
  background-color: #CCEEEE;
}

.right_cell{

}

.left_cell{

}

.small{
  font-size: small;
  font-weight: lighter;
}

span.stopwatch {
	color: 'blue';
}
span.mins{
	font-size: 36pt;
}
span.secs{
	font-size: 36pt;
}
span.tenths{
	font-size: 18pt;
}